{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{titile}}{% endblock%}

{% block menu %}
{% include 'mainapp/include/inc_menu.html'%}
{% endblock %}

{% block content %}
<div class="details">
	<div class="links clearfix">
		<ul class="links-menu">
			{% for category in categories %}
				<li>
					<a href="{% url 'products:category' category.id %}" 
						class="{% if category.id == selected_category.id %} active {% endif %}"> {{ category.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="details-products">
		{% if products %}
			{% with product=products.0 %}
				<div class="details-slider">
					<div class="slider-product">
						<img src="/media/{{ product.image }}">
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ products.0.name }}</h3>
					<h3 class="red">{{ products.0.short_desc }}</h3>
					<p class="price">{{ product.price }}<span>руб</span></p>
					<a href="#" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						{{ products.0.description|linebreaks }}
					</div>
				</div>
			{% endwith %}
		{% else %}
			<div class="details-slider">
				<div class="slider-product">
					<img src="{% static 'img/no_product.png' %}">
				</div>
			</div>

			<div class="description">
				<h3 class="big-bold">Товар отсутсвует</h3>
				<a href="#" class="red-button">
					Уведомить о наличии <i class="fa fa-chevron-right" aria-hidden="true"></i>
				</a>
				<div class="description-text">
					<p>Товар появится позже</p>
				</div>
			</div>
		{% endif %}
	</div>

	{% if products %}
		<div class="related">
			<div class="title clearfix">
				<h2>Похожие продукты</h2>
				<a class="explore" href="#">показать все 
					<img src="{% static 'img/arrow.png' %}" alt="">
				</a>
			</div>
			<div class="related-products clearfix">
				{% for product in products %}
					<div class="block">
						<a href="#">
							<img  class="product-image" src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
							<div class="text">
								<img src="{% static 'img/icon-hover.png' %}" alt="img">
								<h4>{{product.name}}</h4>
								<p>{{product.description}}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

<div class="clr"></div>
{% endblock %}
