{% extends 'mainapp/base.html' %} 
{% load static %} 

{% block additional_js %}
  <script src="{% static 'js/main_scripts.js' %}"></script>
{% endblock %}

{% block menu %}
  <div class="hero-white">
    <div class="header clearfix">
      {% include 'mainapp/include/inc_menu.html' %}
    </div>
  </div>
{% endblock %} 


{% block content %}
  <div class="details">
    <div class="links clearfix">
      {% include 'mainapp/include/inc_categories_menu.html' %}
    </div>

    <div class="products_list">
      {% comment %} AJAX is used {% endcomment %}
      {% comment %} {% include 'mainapp/include/inc_products_list_content.html' %} {% endcomment %}
    </div>
  </div>

  <div class="clr"></div>

{% endblock %}
